.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__name
        test
      .chat-main__group-info__left__member
        Member：testさん
    .chat-main__group-info__icon
      = link_to "#", class: "chat-main__group-info__icon__edit" do
        Edit

  .chat-main__messages
    .chat-main__messages__box
      .chat-main__messages__box__up
        .chat-main__messages__box__up__title
          test
        .chat-main__messages__box__up__time
          2020/05/23
      .chat-main__messages__box__message
        Hello

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit "Send", class: "submit-btn"