.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__name
        = @group.name
      .chat-main__group-info__left__member
        Member：
        .chat-main__group-info__left__member-list
          - @group.users.each do |user|
            = user.name
    .chat-main__group-info__icon
      = link_to "#", class: "chat-main__group-info__icon__edit" do
        Edit

  .chat-main__messages
    .chat-main__messages__box
      = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit "Send", class: "submit-btn"